# R
.Rproj.user
.Rhistory
.RData

# Sublime
.directory

# Latex
*aux
*log
*out
*synctex.gz
*latexmk
*concordance.tex
*bbl
*blg

# Markdown
*report_markdown*

# data
*data
*review*

# sublime
*.sublime-project
*.sublime-workspace

# other
report/comments*
submission
revision
report
