# R
.Rproj.user
.Rhistory
.RData

# Sublime
.directory
*.sublime-project
*.sublime-workspace
# Latex
*aux
*log
*out
*synctex.gz
*latexmk
*concordance.tex
*bbl
*blg
*toc
# beamer
*.bcf
*.nav
*.run.xml
*.snm
*.xcf
# Markdown
*html
# data
*data
# other
report_old
*.zip
cache/aws*
packrat/lib*/
comments_ralf
upload

/manuscript/proofs
